# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# Logs
logs/
*.log

# Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de build
*.class
*.jar
*.war
*.ear

# Arquivos temporários
*.swp
*~

# Banco H2 (caso use em disco)
/*.h2.db
/*.mv.db

# Spring Boot
spring.log

# Arquivos de testes/jacoco
jacoco.exec

# Arquivos de perfil e cache do Spring
.env
.spring-boot-devtools.properties

# Arquivos do Linux/macOS de backup
*.bak
*.tmp

# Arquivos do Windows
ehthumbs.db

mvnw*